<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>alert</title>
</head>
<body>

<script>

    let alertMessage;
    console.log("i like pizza")
    const alerts = ["the player count is max", "Not enough players", 'Already in this lobby', 'Not in game',
        'Already in a game', 'Removed you from another lobby']

    alert(alerts[{{ alert }}])
    window.location.href = "/lobby/{{ lobbyid.lobbyId }}/";
</script>

<script>

    let alertMessage;
    console.log("i like pizza")
    const alerts = ['Already voted', 'You are already dead, you can not vote']

    alert(alerts[{{ in_game_alert }}])
    window.location.href = "/lobby/{{ lobbyid.lobbyId }}/gamestart/day";
</script>


<script>

    let alertMessage;
    console.log("i like pizza")
    const alerts = ['You have already chosen', 'You are already dead']

    alert(alerts[{{ night_alert }}])
    window.location.href = "/lobby/{{ lobbyid.lobbyId }}/gamestart/night";
</script>

<script>

    let alertMessage;
    console.log("i like pizza")
    const alerts = ['You are not a participant of this game']

    alert(alerts[{{ midgame_alert }}])
    alert(alerts[{{ midgame_alert }}])
    window.location.href = "/lobby/";
</script>

</body>
</html>