{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'CreateLobby.css' %}">

    <meta charset="UTF-8">
    <title>Create Lobby</title>

</head>
<body>

<div class="box">
    <a>Enter a name for the lobby</a>
    <form method="post" action="/lobby/CreateLobby/">
        {% csrf_token %}
        <input class="searchbar" type="text" name="name" placeholder="Lobby Name">
        <button class="searchbutton" type="submit">Submit</button>
    </form>
    {% if error %}
        <div class="error">{{ error }}</div>
    {% endif %}

</div>


</body>
</html>
