<!DOCTYPE html>
<html lang="en">
<head>
    <title>Night</title>
</head>
<body>
<h1>It is nighttime</h1><br>
<ol>

    {% for p in lobbyid.participants.all %}
        {% if p.role != 3 %}
            <li>{{ p.userId.username }}

                {% if you.role == 1 %}

                    <form method="get"
                          action="/lobby/{{ lobbyid.lobbyId }}/gamestart/night/">            {% csrf_token %}
                        <input type="hidden" name="userid" value= {{ p.userId.id }}>
                        <input type="hidden" name="action" value="killed">
                        <input type="submit" value="KILL">
                    </form>
                {% elif you.role == 2 %}

                    <form method="get"
                          action="/lobby/{{ lobbyid.lobbyId }}/gamestart/night/">            {% csrf_token %}
                        <input type="hidden" name="userid" value= {{ p.userId.id }}>
                        <input type="hidden" name="action" value="rescued">
                        <input type="submit" value="Rescue">
                    </form>

                {% endif %}

            </li>
        {% endif %}
    {% endfor %}
    <ol>
        {% for participant in dead_participants %}

            <li>{{ participant.userId.username }} is dead</li>

        {% endfor %}
    </ol>
</ol>
        <script async>
            async function JavaSucks() {
                const lobby_id = "{{ lobbyid.lobbyId }}";
                const response = await fetch(`/lobby/` + lobby_id + `/gamestart/check/`);
                const gamecycle = await response.text();
                if (gamecycle == 0) {
                    window.location.href = "/lobby/{{ lobbyid.lobbyId }}/gamestart/day/"
                }
            }

            setInterval(JavaSucks, 3000)

        </script>
</body>
</html>