<!DOCTYPE html>
<html lang="en">
<head>
    <title>The End</title>
</head>
<body>
{% if killers >= townspeople %}
    <h1>Werewolfs won</h1>    <br>
    <p>The Werewolves were:</p>

    <ol>
        {% for k in werewolves %}
            <li>{{ k.userId.username }}</li>
        {% endfor %}
        <br>
    </ol>
{% else %}

    <h1>Townspeople won</h1>    <br>
    <p>The Werewolves were:</p>
    <ol>

        {% for k in werewolves %}
            <li>{{ k.userId.username }}</li>
        {% endfor %}
        <br>
    </ol>
{% endif %}

</body>
</html>