<div id="game-players">
    <div class="players-list">
    </div>
    <div class="player-info">
        <div>
            <ol>
                {% for p in lobby.players.all %}
                    <li>{{ p }}</li>
                {% endfor %}
            </ol>
        </div>
        <div class="players-footer">
            <div class="dots" style="display: none;">
                <div class="dot active">
                    <div class="inner"></div>
                </div>
            </div>
        </div>
    </div>
</div>