<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            font-size: 25px;
        }
    </style>
    <meta charset="UTF-8">
    <title>Lobby - {{ lobby.lobby_name }}</title>
</head>
<body>
<h1>Lobby: {{ lobby.lobby_name }}</h1>
<p>Max players: {{ lobby.max_players }} - status: {{ lobby.get_game_status_display }}</p>
<a href="/lobby/">All lobbies</a>
<ol>
    {#{{ user }}#}
    {% for p in lobby.participants.all %}
        <li>{{ p.userId.username }}</li>
    {% endfor %}
</ol>
<a href="/lobby/{{ lobby.lobbyid }}/join/">Join game!</a>
<a href="/lobby/{{ lobby.lobbyid }}/leave/">leave all games</a>
<a href="/lobby/{{ lobby.lobbyid }}/gamestart/">Start game</a>

{% if id == 0 %}
    <div class="alert alert-error">
        <strong>Imagine having less than 3 players</strong>
    </div>
{% endif %}
</body>
</html>