{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'main.css' %}">

    <meta charset="UTF-8">
    <title>Main - All lobbies</title>
</head>
<body>
{% if user.is_authenticated %}
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <div class="container">
            <button class="button-logout" type="submit">Logout</button>
        </div>
    </form>
{% endif %}

<h1>Current Lobbies</h1>
<ol>
    {% for l in lobbies %}
        <li>
            <a href="/lobby/{{ l.lobbyId }}/">{{ l.lobby_name }}</a>
            <span class="status"> {{ l.get_game_status_display }}</span>
        </li>
    {% endfor %}
</ol>

<a class="fonts" href="/lobby/CreateLobby/">Create a lobby</a>
</body>
</html>
