{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'WerewolfWin.css' %}">
    <title>Werewolves won</title>
</head>
<body>
<h1>Werewolves won</h1>    <br>
<div class="username_box">
    <div class="username-card-container">
        <p>The Werewolves were:</p>

        {% for k in List_werewolves %}
            <p class="username">{{ k.userId.username }}</p>
        {% endfor %}
        <br>
    </div>
</div>
<a href="/lobby/{{ lobbyid.lobbyId }}">Go back to lobby</a>

<audio autoplay>
    <source src="https://raw.githubusercontent.com/EyadYeager/MafiaBot-Real/main/crocodile-laugh.mp3" type="audio/mp3">
    Your browser does not support the audio element.
</audio>
</body>
</html>