body {
    font-family: 'Arial', sans-serif;
    background-image: url("https://i.ibb.co/tQgLCRq/DALLE-2024-03-01-10-20-39-A-serene-nighttime-landscape-featuring-a-sky-filled-with-twinkling-stars-a.webp");
    background-repeat: no-repeat;
    background-size: cover;
    color: #333;
    text-align: center; /* Center align the content */
    font-size: 20px;
}

h1 {
    color: #775baf;
    font-family: Algerian;
}

a {
    display: inline-block;
    background-color: #775baf;
    color: ghostwhite;
    padding: 10px 20px;
    border-radius: 5px; /* Rounded corners for the links */
    text-decoration: none; /* Remove underline from links */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

a:hover {
    background-color: #775baf; /* Darken the button upon hover */
}

.button {
    display: inline-block;
    background-color: #a156fc;
    color: ghostwhite;
    padding: 10px 20px;
    border-radius: 5px; /* Rounded corners for the links */
    text-decoration: none; /* Remove underline from links */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.username_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* To wrap the player cards */
}

.username {
    font-size: 24px;
    color: ghostwhite !important;
}

#name-text {
    color: ghostwhite;
}

.werewolf {
    color: #770303 !important;
}


.username-card-container {
    width: 14rem;
    height: 6rem;
    background-color: #775baf;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 2px 2px 1px rgba(12, 0, 0, 0.4);
    margin: 5px; /* Adjust the margin as per your requirement */
}

.dead_list {
    background-color: rgba(119, 91, 175, 0.76);
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 998;
    padding: 40px;
    font-size: larger;

}

/* Add your styles for the chat box here */
#chat-box {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 300px;
    background-color: white;
    padding: 10px;
    border: 1px solid #ddd;
    display: none;
}

#messages {
    height: 200px;
    overflow-y: auto;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 5px;

}

.role-text {
    display: none;
}

